html {
  background-color:#ddd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  background-color: #669999;
}

body {
  font-family: 'Lato', sans-serif;
}

h2 {
  font: 2em 'Righteous', cursive;
  text-align: center;
  color: yellow;
  opacity: .8;
}

p {
  font-size: 18px;
  font-weight: 400;
}

/*HIDDEN ELEMENTS*/
.isHidden {
  display: none;
}

/*HEADER WITH IMAGE AND APP DESCRIPTION*/


.content {
  background-color: #669999;
  padding: 20px 0em;
}

.about {
  background-color: #CC6633;
  text-align: justify;
  color: #fff;
  width: 75%;
  margin: 0 auto;
  border: 3px solid #fff;
  border-radius: 40px;
  padding: 10px 10px;
  line-height: 1.2;
  font-size: 1em;
/*  background-color: rgba(0, 50, 20, 0.5);*/
  font-family: 'Lato', sans-serif, font-weight: 400;
}

.about-p {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*MAIN FORM USERNAME AND MAJOR DROPDOWN MENU*/

.main-form {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #1abc9c;
  border: 3px solid #fff;
  border-radius: 40px;
  color: #fff;
  padding: 1em;
  width: 75%;
}

/*NAME TEXTBOX ONLY*/
.main-form-name {
  display: block;
  padding-bottom: .5em;
  text-align: center;
}

.main-form-name-input {
  height: 50px;
  width: 11em;
  font-size: 2em;
}

/*DROPDOWN MENU ONLY*/

select {
  display: inline-block;
  background-color: #28e1bd;
  color: #fff;
  padding: .5em;
  padding-right: 3em;
  border: 0;
  font-size: 24px;
  text-align: center;
}

.main-container-dropdown-p {
  font-size: 2em;
  text-align: center;
  margin-bottom: .5em;
}


/*NEXT BUTTON ONLY*/
.button-next {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border: 2px solid #1ECD97;
  border-radius: 40px;
  background: transparent;
  color: #fff;
  letter-spacing: 1px;
  font-size: 1.25em;
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

/*FIXED HEADER BAR*/
.top-bar {
  overflow: hidden;
  color: white;
  z-index: 2;
  width: 100%;
  text-transform: uppercase;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
}

.top-bar-logo-insta {
  text-align: center;
  font: 1em "Silverfake";
  display: block;
  float:left;
  margin: 1% 0 0 1%;
}

.top-bar-logo-pitch {
    text-align: center;
    font: 2em "Average", serif;
}
.top-bar a {
  color: white;
  text-decoration: none;
}

.nav-admin {
  float: right;
  margin-right: 1em;
}
.nav-admin a {
  color: orange;
}

/* CMS */
.skillBox {
  background-color:#eee;
  border:1px solid gray;
  margin:10px;
  padding:10px;
}

.redText {
  color:red;
}

.skillTypeText {
  color:gray;
}

.green{
 color:green;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  font: 1em/1.5 "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

.pitchHelp {
  width:300px;
}

.pushDown {
  height:60px;
}

.write4 {
  font-size: 1.3em;
  margin: 0em 0em 2em 2em;
}

.write3 {
  font-size: 1.3em;
  margin: 0em 0em 0em 2em;
}

.write2{
  font-size: 1.3em;
  margin: 0em 0em 0em 2em;
}

.write {
  font-size: 1em;
  margin: 2em 0em 0em 2em;
  background-color: purples;
}

header hgroup {
  display: inline-block;
  text-align: justify;
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  color: #fff;
  border: 5px solid #fff;
  padding: 0em 1em;
  line-height: 1.2;
  font-size: 1em;
  background-color: rgba(0, 50, 20, 0.3);

}

.name, .custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 0%;

}

.name, .custom-dropdown select  {
  background-color: #1abc9c;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0 0 0 5em;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

option {
  margin: 2 0 0 2em;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;

}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.cust2elect[disabled] {
  color: rgba(0,0,0,.3);
}


.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}
/*MAIN*/
.main-buttons {
  text-align: center;
}

h2.main-buttons {
  color: #342B56;
}

h3.main-buttons {
  color: #BFAC36;
  background-color: ;
  margin-top: -1em;
}

/*BUTTON STYLE*/

li {
  list-style-type: none;
}

.section-buttons{
  margin-top: 4em;

}
.section-buttons-a {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background: #35292D;
  width: 10em;
  color: white;
  font-weight: bold;
  text-decoration: none;

}

.section-buttons-b {
 display: inline-block;
  padding: 10px;
  margin: 2em 0em 0em 2em;
  background: #35292D;
  width: 10em;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.testgreen {
 display: inline-block;
  padding: 10px;
  margin: 2em 0em 0em 2em;
  background-color: blue;
  width: 10em;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.lmargin {
  margin: 0em 0em -1em 1.2em;
}

.b {
 width: 10em;
}

textarea {
  font-size: 1em;
  margin-top: 0em;
}



.section-buttons-a:hover {
  background: #725963;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.section-buttons-b:hover {
  background: #725963;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.section-buttons-c:hover {
  background: #725963;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/*Text Box*/

.textarea-finalpitch{
  background-color:;
  margin: 3em 2em 2em 2em;
  padding-left: 4em;
}


/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
/*.span_3_of_3 {
  width: 100%;
}
.span_2_of_3 {
  width: 66.1%;
}
.span_1_of_3 {
  width: 32.2%;
}

.push {
  margin-top: 5em;
  height: 5em;
}*/


/* skills select - should be relocated when skills selectors are added to this file */
/* feel free to change/remove these to suit the final styling - mandi */
/*.skillsLeft {
  border:1px solid blue;
  width:45%;
  display:block;
  float:left;
}

.skillsRight {
  border:1px solid red;
  width:45%;
  display:block;
  float:left;
}

.skillsNext {
  clear:both;
}
*/


/*MAIN SKILLS SELECTION PAGE*/

.skills-buttons {
  /*display: block;*/
  /*margin: 0 auto;*/
  width: 300px;
  height: 50px;
  border: 2px solid #1ECD97;
  border-radius: 40px;
  letter-spacing: 1px;
  font-size: 1.25em;
  background: #1abc9c;
  color: #fff;

  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.checked {
  background: #CC6633;
}

/*
input[type="checkbox"]
{
    visibility: hidden;
}
*/
/*  SECTIONS  */
.skillsection {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.skillgroup:before,
.skillgroup:after {
  content:"";
  display:table;
}
.skillgroup:after {
  clear:both;
}
.skillgroup {
    zoom:1; /* For IE 6/7 */
}


/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 480px) {
  .span_2_of_2 {
    width: 100%;
  }
  .span_1_of_2 {
    width: 100%;
  }
}

