<div data-ng-controller="adminController">

  <button data-ng-click="deleteAll()">Delete All</button>

  <!-- this is an 'A'ttribute directive because it's embedded in the existing div tag -->
  <div data-new-skill-form></div>

  <div data-ng-repeat="skill in skills">
    <div data-editable
      object="skill"
      save="saveSkill"
      delete="deleteSkill"

    <p>
      <div data-ng-show="skill.editing">

        <form name="skillform">
          <label data-ng-show="skillform.$invalid">Skill field can't be blank</label>
          <input required data-ng-model="skill.skillBody"/>
          <button data-ng-disabled="skillform.$invalid" data-ng-click="saveSkill(skill)">Save Changes
            </button>
          <!--cancel edit button-->
          <button data-ng-click="cancelEdit(skill, skillForm)">Cancel</button>
        </form>

      </div>

      <div data-ng-hide="skill.editing">
        {{skill.skillBody}} <!-- added filter here day 3 -->
        <button data-ng-click="editSkill(skill)">Edit Skill</button>
        <button data-ng-click="deleteSkill(skill)">Delete Skill</button>
      </div>
    </p>
  </div>
</div>
