<article class="content">
  <section class="about">
    <h2 class="section-h2">“Tell me about yourself.”</h2>

    <p class="about-p">A strong 30-second pitch is one of the most useful tools available for your job search.</p>
    <p class="about-p">It is also very challenging to get right.
    </p>
    <p class="about-p">InstaPitch can help you get started and establish a comfortable point of reference for </br>interviews, networking, social gatherings, and even interested family and friends.
    </p>
  </section>

  <div class="main-form">

    <form class="main-form-name">
      <input required data-ng-model="username" placeholder="Your name" class="main-form-name-input"/>
    </form>
    <div class="main-container-dropdown">
      <p class="main-container-dropdown-p">You are a

      <select class="main-page-select" required data-ng-model="usermajor" ng-options="major.name for major in majors" ng-init="usermajor ? 'usermajor.name' : test">
        <option value="">-- choose accelerator --
        </option>
      </select>
       developer.
      </p>
    </div> <!-- closes main-container-dropdown -->

    <button data-ng-click="advanceToSkills()" data-ng-disabled="!usermajor" class="button-next">
    Next
    </button>

  </div> <!-- closes main-form -->

</article>

