<div>
  <h1>InstaPitch</h1>
  <h2>Sell yourself and your skills with a great pitch!</h2>
  <p>Code Fellows</p>

  <form>
    <input required data-ng-model="username" placeholder="Your name"/>
    You are a
    <select required data-ng-model="usermajor"
            ng-options="major.name for major in majors"
            ng-init="usermajor ? 'usermajor.name' : test">
      <option value="">-- choose accelerator --</option>
    </select>

    developer
  </form>
  <button data-ng-click="advanceToSkills()">Next</button>
</div>
