<article class="content">
  <section class="about">
    <h2 class="section-h2">“Tell me about yourself.”</h2>
    <p>Job seekers screw this up all the time - with everything from “Where do you want me to start?”, to trying to share their whole life story. </p>
    <p>A strong 30-second pitch is one of the most useful job search and networking tools available to you. The process of creating your own personal pitch can be clarifying, illuminating, and very challenging to put together. A good pitch addresses who you are and what you are good at.</p>
    <p> InstaPITCH can help you focus your pitch -- establishing a comfortable starting place, and reference point, for interviews, networking, social gatherings, and even interested family and friends.
    </p>
  </section>
</article>

<div class="name">

  <form>
    <input required data-ng-model="username" placeholder="Your name">  </form>
    You are a
    <div class="custom-dropdown">
    <select required
            data-ng-model="usermajor"
            ng-options="major.name for major in majors"
            ng-init="usermajor ? 'usermajor.name' : test">
      <option value="">-- choose accelerator --</option>
    </select>
  </div>

    developer

  <button data-ng-click="advanceToSkills()" data-ng-disabled="!usermajor">Next</button>
</div>

<!-- <h2 class="header" >Choose Your Track</h2>
<span class="custom-dropdown">
    <select>
        <option>JavaScript</option>
        <option>UX</option>
        <option>Python</option>
        <option>Ruby</option>
        <option>Web Dev Full Stack</option>
    </select>
</span>
<!-- end drop down menu test -->
