<div>
Welcome {{username}}, {{usermajor.name}} developer extraordinaire.
</br></br>
Choose your 3 strongest skills and qualities:

  <form name="skillsForm" ng-submit="advanceToPitch()">
    <div data-ng-repeat="skill in skills | filterByMajor:usermajor">
      <!-- take in an array and filter the array, return the array -->
      <label class="checkbox">
      <input  type="checkbox"
              value="{{skill.skillBody}}"
              ng-change="checkboxSelect(skill)"
              ng-model="skill.checked"
              name="group-skills"
              />
              {{skill.skillBody}} ( {{skill.skillType}} )
      </div>
    <input type="submit" value="Next" ng-disabled="skillsSelectedNum != 3"/>
  </form>
  total checked: {{ skillsSelectedNum }}
</div>
