<div>
Welcome {{username}}, {{usermajor.name}} developer extraordinaire.
</br></br>
Choose your 3 strongest skills and qualities:

  <form name="skillsForm" ng-submit="advanceToPitch()">
    <div data-ng-repeat="skill in skills | filter:filterFn"><!-- filter goes here -->
      <label class="checkbox">
      <input  type="checkbox"
              required="required"
              value="{{skill.skillBody}}"
              ng-change="checkboxSelect(skill.skillBody)"
              ng-model="skill.checked"
              name="group-skills"
              />
              {{skill.skillBody}} ( {{skill.skillType}} )
      </div>
    <input type="submit" value="Next" ng-disabled="skillsForm.$invalid"/>
  </form>

</div>
