<div class="pitchHelp">
  <h1>Incorporate your Strengths</h1>

  <!-- loop through the saved skills -->
  <!-- here we can assume the object contains the correct number of skills -->
  <div data-ng-repeat="userskill in userskills" ng-class="{green:userskill.found}">
    {{userskill.skillBody}}
  </div>

  <!-- visual prompt -->
  <h2>What will people remember about you?</h2>
  I want people to say I am _________.
</div>


<div class="pitchWrite">
  <h1>Write your pitch!</h1>
  <!-- needs an ng-model and ng-change which calls a function -->
  <textarea rows=10 cols=70 data-ng-model="pitchText" data-ng-change="scanPitchText()" class="textarea-finalpitch">
  </textarea>

  Example generator:
  <div>
    <ul>
      <li>Okay: "I know some jQuery"</li>
      <li><b>Strong: I built an app using jQuery</b></li>
    </ul>
  </div>
  <button>Refresh</button>
</div>
