<div class="col span_1_of_3">
  <h1 class="write">Incorporate your Strengths</h1>
  <ul>
      <li class="section-buttons-a b">{{Skill 1}}</li>
      <li class="section-buttons-a b">{{Skill 2}}</li>
      <li class="section-buttons-a b">{{Skill 3}}</li>
  </ul>
  <h2>What will people remember about you?</h2>
  I want people to say I am _________.
</div>


<div class="col span_2_of_3">
  <h1>Write your pitch!</h1>
  <textarea rows=5 cols=50 class="m-contact-form--comment" placeholder="I am..."></textarea>
  Example generator:
  <div>
    <ul>
      <li>Okay: "I know some jQuery"</li>
      <li><b>Strong: I built an app using jQuery</b></li>
    </ul>
  </div>
  <button>Refresh</button>
</div>



















<!-- <div class="pitchHelp">
  <h1>Incorporate your Strengths</h1>
  <ul>
      <li>{{Skill 1}}</li>
      <li>{{Skill 2}}</li>
      <li>{{Skill 3}}</li>
  </ul>
  <h2>What will people remember about you?</h2>
  I want people to say I am _________.
</div>


<div class="pitchWrite">
  <h1>Write your pitch!</h1>
  <input class="pitchInput">
  Example generator:
  <div>
    <ul>
      <li>Okay: "I know some jQuery"</li>
      <li><b>Strong: I built an app using jQuery</b></li>
    </ul>
  </div>
  <button>Refresh</button>
</div> -->
