<div class="pitchHelp">
  <h1>Incorporate your Strengths</h1>
  <ul>
      <li>{{Skill 1}}</li>
      <li>{{Skill 2}}</li>
      <li>{{Skill 3}}</li>
  </ul>
  <h2>What will people remember about you?</h2>
  I want people to say I am _________.
</div>


<div class="pitchWrite">
  <h1>Write your pitch!</h1>
  <input class="pitchInput">
  Example generator:
  <div>
    <ul>
      <li>Okay: "I know some jQuery"</li>
      <li><b>Strong: I built an app using jQuery</b></li>
    </ul>
  </div>
  <button>Refresh</button>
</div>
